# Project place file
/Robot-Hunt.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# node_modules
/node_modules
/package-lock.json
/package.json

# macOS
**/.DS_Store
.DS_Store
assets/.DS_Store
assets/ui/.DS_Store
